:root{
    --bg-main : linear-gradient(90deg, #18232c, #354b57);
    --sea-green : #1c9c7f;
    --oranges : #f48d00;
    --text-mute : rgb(143, 142, 142);
    --border-line :  rgb(101, 100, 100);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Roboto', sans-serif;
}
li{
    list-style-type: none;
}

body{
    background: var(--bg-main);
    height: 1px;
}
.mute{
    opacity: 0.6;
    font-size: 12px;
}
.container-wthmenu{
    margin-left: 19rem;
    margin-right: 4rem;
}
.container{
    margin: 0 auto;
    padding-left: 6em;
    width: 80%;
}

nav{
    height: 100%;
    width: 16rem;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 2.5em;
    color: var(--text-mute);
    font-weight: 300;

    transform: translateX(-100%);
    transition: 0.1s ease transform;
}
nav.show{
    transform: translateX(0%);
}
nav .hidden-menu{
    width: 100%;
}
nav .hidden-menu svg{
    position: absolute;
    height: 25px;
    top: 10px;
    right: 0;
    cursor: pointer;
}
.show-menu{
    display: block;
}
.show-menu svg{
    position: fixed;
    height: 25px;
    top: 15px;
    left: 15px;
    cursor: pointer;
    color: var(--text-mute);
}
nav .profil{
    padding-left: 3em;
    display: flex;
    align-items: center;
    margin-bottom: 2em;
}
nav .profil img{
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
}
nav .profil p{
    padding-left: 0.7em;
    font-size: 0.9rem;
    font-weight: 400;
    letter-spacing: 1px;
    color: var(--text-mute);
}
nav .main-links{
    margin-top: 4em;
}
.main-links::after{
    content: ""; 
    display: block;
    margin: 0 auto; 
    width: 50%;
    padding-top: 20px;
    border-bottom: 1px solid var(--border-line);
}
nav .main-links ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .main-links ul li:hover .movies-number{
    transform: scale(1.4);
}
nav .main-links ul li .movies-number{
    font-size: 12px;
    display: block;
    margin-right: 3em;
    transition: 0.1s;
}
nav .main-links ul li,
nav .settings ul li{
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    padding-left: 3em;
    cursor: pointer;
}
nav menu ul li:hover{
    border-left: 5px solid var(--sea-green);
    background-color: #283944;
    color: #fff;
    transition: 0.3s;
}
nav .settings{
    margin-top: 1em;
}

/* Header */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    margin-top: 1.75em;
}
header .heading{
    letter-spacing: 2px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.75rem;
    margin-left: 4em;
}
header .searching{
    margin-right: 10rem;
}
header .searching .search-box{
    position: absolute;
    transform: translate(-50%,-50%);
}
header .searching .search-box .input {
    padding: 10px;
    width: 80px;
    height: 40px;
    background: none;
    border: 4px solid var(--sea-green);
    border-radius: 50px;
    box-sizing: border-box;
    font-size: 17px;
    color: var(--sea-green);
    outline: none;
    transition: .5s;
}
header .searching .search-box .input::placeholder{
    visibility: hidden;
}
header .searching .search-box:hover input{
    width: 250px;
    background: #272133;
    border-radius: 10px;
}
header .searching .search-box:hover input::placeholder{
    visibility: visible;
    opacity: 0.5;
}
header .searching .search-box i{
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translate(-50%,-50%);
    font-size: 17px;
    color: var(--sea-green);
    transition: .2s;
}
header .searching .search-box:hover i{
    opacity: 0;
    z-index: -1;
}

/* add movie form */

.addMovieForm{ 
    position: fixed;
    border: 5px solid var(--sea-green);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 2em 3em;
    z-index: 9;
    display: none;
    flex-direction: column;
    align-items: center;
    
}
.addMovieForm .closeaddformbtn svg{
    height: 20px;
    position: fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.addMovieForm .formheading{
    width: 100%;
}
.addMovieForm .formheading h1{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 0.75em;
    margin-top: 0.75em;
}
.addMovieForm #error-message{
    display: none;
    background-color: #dc3545;
    color: #fff;
    padding: 0.5em 1em;
    border-radius: 5px;
    margin-bottom: 0.75em;
}
.addMovieForm #error-message #danger{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
}
.addMovieForm #error-message #danger a{
    color: white;
}
.addMovieForm form input, .addMovieForm form label{
    display: block;
}
.addMovieForm form input{
    height: 100%;
    width: 100%;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 17px;
    border: 1px solid silver;
    margin-bottom: 0.75em;
}
.addMovieForm form label{
    color: rgba(0, 0, 0, 0.716);
    font-size: 13px;
}

.addMovieForm form .poster-imdb{
    display: flex;
    align-items: center;
}
.addMovieForm form .poster-imdb label{
    margin-bottom: 0.75em;
    padding: 0 1em;
}
.addMovieForm form .poster-imdb label:first-child{
    padding-right: 1.25em;
    padding-left: 0;
}
.addMovieForm form .poster-imdb #imdb-rank{
    min-width: 80px;
    max-width: 100px;
}
.choose-watch{
    /* width: 300px;
    height: 80px; */
    /* display: table; */
    display: flex;
    justify-content: center;
    margin: 0.75em 0;
}
  
.choose-watch input[type="radio"]{
    visibility: hidden;
    height: 0;
    width: 0;
  }
  
.choose-watch label {
    display: table-cell;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid var(--sea-green);
    color: white;
    padding: 10px 15px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 3px;
}
input[type="radio"]:checked + label{
    background-color: var(--sea-green);
    color: #fff;
}

.addMovieForm form button{
    font-size: 16px;
    width: 100%;
    padding: 0.65em;
    background: var(--bg-main);
    border-radius: 3px;
    border-width: 0;
    margin-top: 15px;
    color: #fff;
    cursor: pointer;
}
/* Movies*/
#movies{
    margin-top: 4em;
}
#movies ul{
    display: flex;
    flex-wrap: wrap;
    
}
#movies ul li{
    width: calc(100% / 5);
    margin-bottom: 3em;
}
#movies ul li .poster{
    display: flex;
}

#movies ul li .poster img{
    width: 175px;
    height: 250px;
    object-fit: cover;
    box-shadow: rgb(0, 0, 0) 0px 3px 8px;
}

#movies ul li .poster .rank{
    background-color: var(--oranges);
    color: rgb(255, 255, 255);
    width: 35px;
    height: 35px;
    padding: .4em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    margin-bottom: 45px;
    margin-left: -18px;
    box-shadow: rgb(0, 0, 0) 0px 3px 8px;
}

#movies ul li .movie-desc{
    margin-top: 0.5em;
    width: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#movies ul li .movie-desc .movie-name{
    font-size: 1rem;
    color: #fff;
}

#movies ul li .movie-desc .author{
    font-size: 0.70rem;
    font-weight: 300;
    letter-spacing: 1px;
    color: var(--text-mute);
    margin-top: 0.3em;
}
#movies ul li .movie-desc .movies-icons{
    display: flex;
}
#movies ul li .movie-desc svg{
    height: 18px;
    color: var(--text-mute);
    cursor: pointer;
}
#movies ul li .movie-desc svg:nth-child(1){
    padding-right: 7px;
}

/* ------ API -------- */
#addMovieFormApi{
    padding: 1em !important;
    display: flex;
    justify-content: center;
    top: 25%;
    width: 750px;
}
.search-api {
    width: 100%;
    position: relative;
    display: flex;
  }
.search-api input{
    background-color: var(--sea-green);
    color: #fff;
    font-weight:700;
    font-size: large;
}
.search-api input::-webkit-input-placeholder{
    color: rgba(51, 51, 51, 0.579);
}
.searchTerm {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    border-left: none;
    padding: 21px;
    height: 20px;
    outline: none;
    color: #9DBFAF;
}
  
.searchTerm:focus{
    color: #ffffff;
}
  
.searchButton-api {
    width: 40px;
    height: 48px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}
#closebutton-api{
    border: 1px solid #dc3545;
    border-radius: 5px 0 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dc3545;
}
.wrap-search-api{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
#api-results {
    position: absolute;
    width : 708px;
    max-height: 500px;
    box-sizing: border-box;
    z-index: 1001;
    margin-top: 45px;
    background-color: #00B4CC;
    overflow-y: scroll;
}
.api-result{
    background-color: #9DBFAF;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.api-result:hover{
    background-color: #8aad9c;
}
.api-result:hover .moviePoster img,
.api-result:hover .movieName,
.api-result:hover .filmOverviews{
    opacity: 0.8;
}
.filmOverviews{
    width: 33%;
}
.movieName {
    width: 33%;
    text-align: center;
}
.moviePoster img{
    width: 125px;
    object-fit: cover;
}
/*---------API END-------*/

@media(max-width: 1536px){
    #movies ul li{
        width: calc(100% / 4);
    }
}
@media(max-width : 1280px){
    #movies ul li{
        width: calc(100% / 3);
    }
}
@media(max-width : 768px){
    #movies{
        padding-left: 2.3em;
    }
    #movies ul li{
        width: calc(100% / 2);
        padding-left: 2em;
    }
    #movies ul{
        justify-content: space-around;
    }
        /* CONTAINER RESPONSIVE*/
    .container{
        margin: 0 auto;
        padding-left: 2.2em;
        width: 100%;
    }
    /* HEADER RESPONSIVE */
    header{
        flex-direction: column-reverse;
        
    }
    header .heading{
        letter-spacing: 1px;
        font-size: 0.6rem;
        margin: 0;
        margin-top: 5em;
        margin-right: 3em;
    }
    header .searching{
        margin-right: 1.3rem;
        margin-top: 1em;
    }
    header .searching .search-box .input {
        padding: 10px;
        width: 80px;
        height: 40px;
        font-size: 17px;
    }
    header .searching .search-box:hover input{
        width: 250px;
    }
    header .searching .search-box i{
        top: 50%;
        right: 25px;
        font-size: 17px;
    }
    /* NAV RESPONSIVE */
    nav{
        /* height: 100%; */
        
        position: fixed;
        background-color: #3a4f4a;
    }
    nav.show{
        width: 100%;
        
    }
    nav .profil{
        padding-left: 0;
        justify-content: center;
        margin-bottom: 2em;
    }
    nav .profil img{
        width: 75px;
        height: 75px;
        object-fit: cover;
        border-radius: 50%;
    }
    nav .profil p{
        padding-left: 0.7em;
        font-size: 1.5rem;
        font-weight: 400;
        letter-spacing: 2px;
        color: var(--text-mute);
    }
    nav ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    nav .main-links ul li,
    nav .settings ul li{
        padding-left: 0;
        font-size: 2rem;
        width: 75%;
    }
    nav .hidden-menu svg{
        height: 40px;
    }

    /* ADD MOVİE FORM RESPONSIVE*/
    .addMovieForm form .poster-imdb{
        display: block;
    }
    .addMovieForm form .poster-imdb label{
        padding: 0;
        margin: 0;
    }
    .choose-watch {
        display: flex;
        align-items: center;
    }
    .choose-watch label{
        min-width: 70px;
        box-sizing: content-box;
    }
    /* API RESPONSIVE */
    #addMovieFormApi{
        width: 450px;
    }
}
@media(max-width : 540px){
    #movies ul li{
        width: calc(100%);
    }
    #addMovieFormApi{
        width: 375px;
    }

}